.curvedContainer {
  position: relative;
  width: 100%;
  height: 30rem;
  margin: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .line {
    position: absolute;
    z-index: 1;
  }
  
  .squareCenter {
    position: absolute;
    top: 35%;
    left: 37%;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 10px solid #ecebeb85;
    z-index: 10;
    border-radius: 10px;
  box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.3);
  }
  
  .squareContent {
    text-align: center;
  }
  
  .squareContent h2 {
    font-size: 16px;
    margin: 0;
  }
  
  .squareContent p {
    font-size: 12px;
    margin: 5px 0 0;
  }
  .line path {
    animation: glow-animation 2s infinite alternate;
  }
  
  @keyframes glow-animation {
    0% {
      stroke-width: 5;
    }
    100% {
      stroke-width: 8;
    }
  }

  @media (max-width: 768px) {
    .curvedContainer,
    .squareCenter,
    .line {
      display: none;
    }
  }
  