.footer-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 35px;
    width: 100%;
    min-height: 250px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .footer-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  
 
  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, #ffad98, transparent 60%);
    animation: waveAnimation 8s linear infinite;
    opacity: 0.7;
  }
  
  .wave.wave2 {
    background: radial-gradient(circle, #bd77ff, transparent 70%);
    animation: waveAnimation 10s linear infinite reverse;
    opacity: 0.6;
  }
  
  .wave.wave3 {
    background: radial-gradient(circle, #fdae72, transparent 60%);
    animation: waveAnimation 12s linear infinite;
    opacity: 0.5;
  }
  
  .wave.wave4 {
    background: radial-gradient(circle, #f5d166, transparent 60%);
    animation: waveAnimation 14s linear infinite reverse;
    opacity: 0.4;
  }
  
  .wave.wave5 {
    background: radial-gradient(circle, #b05efd, transparent 60%);
    animation: waveAnimation 14s linear infinite reverse;
    opacity: 0.4;
  }
  
  .wave.wave6 {
    background: radial-gradient(circle, #f89393, transparent 70%);
    animation: waveAnimation 16s linear infinite;
    opacity: 0.3;
  }
  
  @keyframes waveAnimation {
    0% {
      transform: translate(-50%, 50%) scale(1);
    }
    50% {
      transform: translate(50%, 0%) scale(1.5);
    }
    100% {
      transform: translate(-50%, 50%) scale(1);
    }
  }
  
.footerLogo {
position: absolute;
top:100px;
left: 143px;
    background: linear-gradient(90deg, #ff7e5f, #8a2be2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.footerLogo:hover {
    transform: scale(1.15); 
}

.footerSlogan {
    position: absolute;
    top:120px;
    right: 143px;
        background: linear-gradient(90deg, #ff7e5f, #8a2be2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 30px;
        font-weight: bold;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        
    }
